@import "bootstrap-reboot.min.css";
@import "bootstrap-grid.min.css";
@import "ionicons.min.css";
@import "plyr.css";
@import "default-skin.css";
@import "main";
@import "fonts";

.page-404 {
  background: url("../images/section/section.jpg") center center / cover no-repeat
}

.expected-premiere {
  background: url("../images/section/section.jpg") center center / cover no-repeat
}

.faq-section {
  background: url("../images/section/section.jpg") center center / cover no-repeat
}

.section-bg {
  background: url("../images/section/section.jpg") center center / cover no-repeat
}